{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Website</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'></head>
<body>
    <header class="header">
        <a href="#home" class="logo">
            Júlio <span>Soares</span>
        </a>
        <i class="bx bx-menu" id="menu-icon"></i>
        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#about">Sobre</a>
            <a href="#my-skills">Habilidades</a>
            <a href="#projects">Projetos</a>
            <a href="#contact">Contato</a>
        </nav>
        <!-- <button class="gradient-btn">Entre em contato</button> -->
    </header>

    <section class="home" id="home">
        <div class="home-content">
            <h1>Hi, It's <span>Júlio</span></h1>
            <h3>
                I'm a <span>Web Developer</span>
            </h3>
            <p>
                Lorem ipsum odor amet, consectetuer adipiscing elit. Metus diam ridiculus ut, primis massa euismod parturient suscipit.
                Class scelerisque placerat per dolor magna facilisi dui cursus ultrices. Natoque sodales odio condimentum; torquent
                tincidunt curae varius penatibus gravida? Praesent nibh orci sollicitudin ultricies laoreet. Natoque turpis erat morbi
                senectus dictum, egestas nunc lectus. Tempus malesuada vivamus ad; purus placerat vehicula sed efficitur.
            </p>
            <div class="social-icons">
                <a href="#">
                    <i class='bx bxl-github'></i>
                </a>
                <a href="#">
                    <i class='bx bxl-linkedin-square'></i>
                </a>
            </div>
            <div class="btn-group">
                <a href="#" class="btn">Download CV</a>
                <a href="#" class="btn">Entre em contato</a>
            </div>
        </div>
        <div class="home-img">
            <img src="{% static '/img/minhas_fotos/image03.png' %}" alt="">
        </div>
    </section>

    <section class="about" id="about">
        <div class="about-img">
            <img src="{% static '/img/minhas_fotos/image04.png' %}" alt="">
        </div>
        <div class="about-content">
            <h2>Sobre <span>Mim</span></h2>
            <p>
                Lorem ipsum odor amet, consectetuer adipiscing elit. Metus diam ridiculus ut, primis massa euismod parturient suscipit.
                Class scelerisque placerat per dolor magna facilisi dui cursus ultrices. Natoque sodales odio condimentum; torquent
                tincidunt curae varius penatibus gravida? Praesent nibh orci sollicitudin ultricies laoreet. Natoque turpis erat morbi
                senectus dictum, egestas nunc lectus. Tempus malesuada vivamus ad; purus placerat vehicula sed efficitur.
            </p>
            <a href="#" class="btn">Leia Mais</a>
        </div>
    </section>

    <section class="my-skills" id="my-skills">
        <h2 class="heading">Minhas habilidades</h2>
        <div class="skills-container">
            <div class="skill-box">
                <div class="skill-info">
                    <i class='bx bxl-python'></i>
                    <h4>Python</h4>
                </div>
            </div>
            <div class="skill-box">
                <div class="skill-info">
                    <i class='bx bxl-django'></i>
                    <h4>Django</h4>
                </div>
            </div>
            <div class="skill-box">
                <div class="skill-info">
                    <i class='bx bxl-postgresql'></i>
                    <h4>PostgreSQL</h4>
                </div>        
            </div>
            <div class="skill-box">
                <div class="skill-info">
                    <i class='bx bxl-mongodb'></i>
                    <h4>MongoDB</h4>
                </div>
            </div>
            <div class="skill-box">
                <div class="skill-info">
                    <i class='bx bxl-html5'></i>
                    <h4>HTML</h4>
                </div>
            </div>
            <div class="skill-box">
                <div class="skill-info">
                    <i class='bx bxl-bootstrap'></i>
                    <h4>Bootstrap</h4>
                </div>
            </div>
            <div class="skill-box">
                <div class="skill-info">
                    <i class='bx bx-loader-circle'></i>
                    <h4>Agile Frameworks (Scrum)</h4>
                </div>
            </div>
            <div class="skill-box">
                <div class="skill-info">
                    <i class='bx bx-analyse'></i>
                    <h4>CI/CD</h4>
                </div>
            </div>
        </div>
    </section>   
    
    <section class="projects" id="projects">
        <h2 class="heading">Projetos</h2>
        <div class="projects-box">
            <div class="project-card">
                <img src="{% static '/img/projetos/project1.png' %}" alt="">
                <h3>Project 01</h3>
                <p>
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Metus diam ridiculus ut, primis massa euismod parturient suscipit.
                    Class scelerisque placerat per dolor magna facilisi dui cursus ultrices. Natoque sodales odio condimentum; torquent
                    tincidunt curae varius penatibus gravida? Praesent nibh orci sollicitudin ultricies laoreet.
                </p>
                <div class="stack-icons">
                    <a href="#">
                        <i class='bx bxl-python'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-django'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-postgresql'></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn">Github</a>
                    <a href="#" class="btn">Site</a>
                </div>
            </div>
            <div class="project-card">
                <img src="{% static '/img/projetos/project2.png' %}" alt="">
                <h3>Project 02</h3>
                <p>
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Metus diam ridiculus ut, primis massa euismod parturient
                    suscipit.
                    Class scelerisque placerat per dolor magna facilisi dui cursus ultrices. Natoque sodales odio condimentum;
                    torquent
                    tincidunt curae varius penatibus gravida? Praesent nibh orci sollicitudin ultricies laoreet.
                </p>
                <div class="stack-icons">
                    <a href="#">
                        <i class='bx bxl-python'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-django'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-postgresql'></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn">Github</a>
                    <a href="#" class="btn">Site</a>
                </div>
            </div>
            <div class="project-card">
                <img src="{% static '/img/projetos/project3.png' %}" alt="">
                <h3>Project 03</h3>
                <p>
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Metus diam ridiculus ut, primis massa euismod parturient
                    suscipit.
                    Class scelerisque placerat per dolor magna facilisi dui cursus ultrices. Natoque sodales odio condimentum;
                    torquent
                    tincidunt curae varius penatibus gravida? Praesent nibh orci sollicitudin ultricies laoreet.
                </p>
                <div class="stack-icons">
                    <a href="#">
                        <i class='bx bxl-python'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-django'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-postgresql'></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn">Github</a>
                    <a href="#" class="btn">Site</a>
                </div>
            </div>
            <div class="project-card">
                <img src="{% static '/img/projetos/project4.png' %}" alt="">
                <h3>Project 04</h3>
                <p>
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Metus diam ridiculus ut, primis massa euismod parturient
                    suscipit.
                    Class scelerisque placerat per dolor magna facilisi dui cursus ultrices. Natoque sodales odio condimentum;
                    torquent
                    tincidunt curae varius penatibus gravida? Praesent nibh orci sollicitudin ultricies laoreet.
                </p>
                <div class="stack-icons">
                    <a href="#">
                        <i class='bx bxl-python'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-django'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-postgresql'></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn">Github</a>
                    <a href="#" class="btn">Site</a>
                </div>
            </div>
            <div class="project-card">
                <img src="{% static '/img/projetos/project5.png' %}" alt="">
                <h3>Project 05</h3>
                <p>
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Metus diam ridiculus ut, primis massa euismod parturient
                    suscipit.
                    Class scelerisque placerat per dolor magna facilisi dui cursus ultrices. Natoque sodales odio condimentum;
                    torquent
                    tincidunt curae varius penatibus gravida? Praesent nibh orci sollicitudin ultricies laoreet.
                </p>
                <div class="stack-icons">
                    <a href="#">
                        <i class='bx bxl-python'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-django'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-postgresql'></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn">Github</a>
                    <a href="#" class="btn">Site</a>
                </div>
            </div>
            <div class="project-card">
                <img src="{% static '/img/projetos/project6.png' %}" alt="">
                <h3>Project 06</h3>
                <p>
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Metus diam ridiculus ut, primis massa euismod parturient
                    suscipit.
                    Class scelerisque placerat per dolor magna facilisi dui cursus ultrices. Natoque sodales odio condimentum;
                    torquent
                    tincidunt curae varius penatibus gravida? Praesent nibh orci sollicitudin ultricies laoreet.
                </p>
                <div class="stack-icons">
                    <a href="#">
                        <i class='bx bxl-python'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-django'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-postgresql'></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn">Github</a>
                    <a href="#" class="btn">Site</a>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static '/js/script.js' %}"></script>
</body>
</html>