{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Website</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'></head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <body>
    <header class="header">
        <a href="#home" class="logo">
            Júlio <span>Soares</span>
        </a>
        <i class="bx bx-menu" id="menu-icon"></i>
        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#about">Sobre</a>
            <a href="#experiences">Experiências</a>
            <a href="#my-skills">Habilidades</a>
            <a href="#projects">Projetos</a>
            <a href="#contact">Contato</a>
        </nav>
        <!-- <button class="gradient-btn">Entre em contato</button> -->
    </header>

    <section class="home hidden" id="home">
        <div class="home-content">
            <h1>Olá, meu nome é <span>Júlio</span></h1>
            <h3 class="text-animation">
                Eu sou um <span></span>
            </h3>
            <!-- <p>
                Lorem ipsum odor amet, consectetuer adipiscing elit. Metus diam ridiculus ut, primis massa euismod parturient suscipit.
                Class scelerisque placerat per dolor magna facilisi dui cursus ultrices. Natoque sodales odio condimentum; torquent
                tincidunt curae varius penatibus gravida? Praesent nibh orci sollicitudin ultricies laoreet. Natoque turpis erat morbi
                senectus dictum, egestas nunc lectus. Tempus malesuada vivamus ad; purus placerat vehicula sed efficitur.
            </p> -->
            <div class="social-icons">
                {% if redes_sociais %}
                    {% for rede_social in redes_sociais %}
                    <a href="{{ rede_social.url }}">
                        {{ rede_social.icone|safe }}
                    </a>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="btn-group">
                {% if cv %}
                <a href="{% url 'download_cv' cv.id %}" class="btn" target="_blank">Download CV</a>
                {% endif %}
                <a href="#" class="btn">Entre em contato</a>
            </div>
        </div>
        <div class="home-img">
            {% if imagem_introducao %}
            <img src="{{ imagem_introducao.imagem.url }}" alt="{{ imagem_introducao.alt }}">
            {% endif %}
        </div>
    </section>

    <section class="about hidden" id="about">
        <div class="about-img">
            {% if imagem_sobre_mim %}
            <img src="{{ imagem_sobre_mim.imagem.url }}" alt="{{ imagem_sobre_mim.alt }}">
            {% endif %}
        </div>
        <div class="about-content">
            <h2>Sobre <span>Mim</span></h2>
            <p id="about-text">
                {% if sobre_mim %}
                    {{ sobre_mim.descricao }}
                {% endif %}
            </p>
            <a href="#" class="btn" id="read-more-btn">Leia Mais</a>
        </div>
    </section>

    <section class="experiences hidden" id="experiences">
        <h2 class="heading">Experiências</h2>
        <div class="experiences-box">
            {% if experiencias %}
            {% for experiencia in experiencias %}
            <div class="experience-card hidden">
                <div class="experience-img">
                    <img src="{{ experiencia.logo.url }}" alt="">
                </div>
                <div class="experience-text">
                    <h4>{{ experiencia.data_inicio|date:"Y" }} - <span>{% if experiencia.data_fim %}{{ experiencia.data_fim }}{% else %}Atual{% endif %}</span></h4>
                    <h3>{{ experiencia.cargo }} - <span>{{ experiencia.empresa }}</span></h3>
                    <p>
                        <span>Stack:</span> {{ experiencia.stack }}
                    </p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </section>

    <section class="my-skills hidden" id="my-skills">
        <h2 class="heading">Minhas habilidades</h2>
        <div class="skills-container">
            {% if habilidades %}
            {% for habilidade in habilidades %}
            <div class="skill-box hidden">
                <div class="skill-info">
                    {{ habilidade.icone|safe }}
                    <h4>{{ habilidade.habilidade }}</h4>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </section>   
    
    <section class="projects hidden" id="projects">
        <h2 class="heading">Projetos</h2>
        <div class="projects-box">
            {% if projetos %}
            {% for projeto in projetos %}
            <div class="project-card">
                <img src="{{ projeto.imagem.url }}" alt="{{ projeto.alt }}">
                <h3>{{  projeto.titulo }}</h3>
                <p>
                    {{ projeto.descricao }}
                </p>
                <div class="stack-icons">
                    {% for stack in projeto.stack.all %}
                    <a href="#">
                        {{ stack.icone|safe }}
                    </a>
                    {% endfor %}
                </div>
                <div class="btn-group">
                    <a href="{{ projeto.repo }}" class="btn">Github</a>
                    <a href="{{ projeto.site }}" class="btn">Site</a>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </section>
    <selection class="contact hidden" id="contact">
        <h2 class="heading">Entre Em <span>Contato</span></h2>
        {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <form action="#contact" method="post">
            {% csrf_token %}
            <div class="custom-input-group">
                <div class="custom-input-box">
                    <input type="text" placeholder="Nome Completo" name="nome">
                    <input type="email" placeholder="Email" name="email">
                </div>
                <div class="custom-input-box">
                    <input class="telefone-mask" type="text" placeholder="(xx) xxxxx-xxxx" name="telefone">
                    <input type="text" placeholder="Assunto" name="assunto">
                </div>
            </div>
            <div class="custominput-group-2">
                <textarea name="mensagem" id="" placeholder="Escreva uma mensagem :D" 
                cols="25" rows="10"></textarea>
                <input type="submit" value="Enviar Mensagem" class="btn">
            </div>
        </form>
    </selection>
    <footer class="footer">
        <div class="social-icons">
            <a href="#">
                <i class='bx bxl-github'></i>
            </a>
            <a href="#">
                <i class='bx bxl-linkedin-square'></i>
            </a>
        </div>
        <p class="copyright">
        <p class="copyright">
            © 2024 Júlio Soares. Todos os direitos reservados.
        </p>
    </footer>
    <script src="{% static '/js/script.js' %}"></script>
    <script src="{% static '/js/jquery-3.7.1.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static '/js/jquery.mask.min.js' %}"></script>

</body>
</html>