{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Website</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'></head>
<body>
    <header class="header">
        <a href="#home" class="logo">
            Júlio <span>Soares</span>
        </a>
        <i class="bx bx-menu" id="menu-icon"></i>
        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#about">Sobre</a>
            <a href="#experiences">Experiências</a>
            <a href="#my-skills">Habilidades</a>
            <a href="#projects">Projetos</a>
            <a href="#contact">Contato</a>
        </nav>
        <!-- <button class="gradient-btn">Entre em contato</button> -->
    </header>

    <section class="home hidden" id="home">
        <div class="home-content">
            <h1>Olá, meu nome é <span>Júlio</span></h1>
            <h3 class="text-animation">
                Eu sou um <span></span>
            </h3>
            <!-- <p>
                Lorem ipsum odor amet, consectetuer adipiscing elit. Metus diam ridiculus ut, primis massa euismod parturient suscipit.
                Class scelerisque placerat per dolor magna facilisi dui cursus ultrices. Natoque sodales odio condimentum; torquent
                tincidunt curae varius penatibus gravida? Praesent nibh orci sollicitudin ultricies laoreet. Natoque turpis erat morbi
                senectus dictum, egestas nunc lectus. Tempus malesuada vivamus ad; purus placerat vehicula sed efficitur.
            </p> -->
            <div class="social-icons">
                {% if redes_sociais %}
                    {% for rede_social in redes_sociais %}
                    <a href="{{ rede_social.url }}">
                        {{ rede_social.icone|safe }}
                    </a>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="btn-group">
                {% if cv %}
                <a href="{% url 'download_cv' cv.id %}" class="btn" target="_blank">Download CV</a>
                {% endif %}
                <a href="#" class="btn">Entre em contato</a>
            </div>
        </div>
        <div class="home-img">
            {% if imagem_introducao %}
            <img src="{{ imagem_introducao.imagem.url }}" alt="">
            {% endif %}
        </div>
    </section>

    <section class="about hidden" id="about">
        <div class="about-img">
            <img src="{% static '/img/minhas_fotos/image04.png' %}" alt="">
        </div>
        <div class="about-content">
            <h2>Sobre <span>Mim</span></h2>
            <p id="about-text">
                Software Engineer with nearly two years of experience in the technology industry, specializing in back-end development
                with Python and
                Django, and expanding into front-end technologies to become a full-stack developer. My strong soft skills include
                creativity, fast-paced
                learning, problem-solving, determination, proactivity, and organization, which drive my success in delivering
                high-quality solutions.
            </p>
            <a href="#" class="btn" id="read-more-btn">Leia Mais</a>
        </div>
    </section>

    <section class="experiences hidden" id="experiences">
        <h2 class="heading">Experiências</h2>
        <div class="experiences-box">
            <div class="experience-card hidden">
                <div class="experience-img">
                    <img src="{% static '/img/projetos/eject.jpeg' %}" alt="">
                </div>
                <div class="experience-text">
                    <h4>2024 - <span>Atual</span></h4>
                    <h3>Desenvolvedor Backend - <span>EJECT</span></h3>
                    <p>
                        <span>Stack:</span> Python, Django, MySQL, Scrum
                    </p>
                </div>
            </div>
            <div class="experience-card hidden">
                <div class="experience-img">
                    <img src="{% static '/img/projetos/lais.webp' %}" alt="">
                </div>
                <div class="experience-text">
                    <h4>2022 - <span>Atual</span></h4>
                    <h3>Engenheiro Backend - <span>LAIS</span></h3>
                    <p>
                        <span>Stack:</span> Python, Django, PostgreSQL, 
                        Redis, CI/CD, Scrum
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="my-skills hidden" id="my-skills">
        <h2 class="heading">Minhas habilidades</h2>
        <div class="skills-container">
            <div class="skill-box hidden">
                <div class="skill-info">
                    <i class='bx bxl-python'></i>
                    <h4>Python</h4>
                </div>
            </div>
            <div class="skill-box hidden">
                <div class="skill-info">
                    <i class='bx bxl-django'></i>
                    <h4>Django</h4>
                </div>
            </div>
            <div class="skill-box hidden">
                <div class="skill-info">
                    <i class='bx bxl-postgresql'></i>
                    <h4>PostgreSQL</h4>
                </div>        
            </div>
            <div class="skill-box hidden">
                <div class="skill-info">
                    <i class='bx bxl-mongodb'></i>
                    <h4>MongoDB</h4>
                </div>
            </div>
            <div class="skill-box hidden">
                <div class="skill-info">
                    <i class='bx bxl-html5'></i>
                    <h4>HTML</h4>
                </div>
            </div>
            <div class="skill-box hidden">
                <div class="skill-info">
                    <i class='bx bxl-bootstrap'></i>
                    <h4>Bootstrap</h4>
                </div>
            </div>
            <div class="skill-box hidden">
                <div class="skill-info">
                    <i class='bx bx-loader-circle'></i>
                    <h4>Agile Frameworks (Scrum)</h4>
                </div>
            </div>
            <div class="skill-box hidden">
                <div class="skill-info">
                    <i class='bx bx-analyse'></i>
                    <h4>CI/CD</h4>
                </div>
            </div>
        </div>
    </section>   
    
    <section class="projects hidden" id="projects">
        <h2 class="heading">Projetos</h2>
        <div class="projects-box">
            <div class="project-card">
                <img src="{% static '/img/projetos/project1.png' %}" alt="">
                <h3>Project 01</h3>
                <p>
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Metus diam ridiculus ut, primis massa euismod parturient suscipit.
                    Class scelerisque placerat per dolor magna facilisi dui cursus ultrices. Natoque sodales odio condimentum; torquent
                    tincidunt curae varius penatibus gravida? Praesent nibh orci sollicitudin ultricies laoreet.
                </p>
                <div class="stack-icons">
                    <a href="#">
                        <i class='bx bxl-python'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-django'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-postgresql'></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn">Github</a>
                    <a href="#" class="btn">Site</a>
                </div>
            </div>
            <div class="project-card">
                <img src="{% static '/img/projetos/project2.png' %}" alt="">
                <h3>Project 02</h3>
                <p>
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Metus diam ridiculus ut, primis massa euismod parturient
                    suscipit.
                    Class scelerisque placerat per dolor magna facilisi dui cursus ultrices. Natoque sodales odio condimentum;
                    torquent
                    tincidunt curae varius penatibus gravida? Praesent nibh orci sollicitudin ultricies laoreet.
                </p>
                <div class="stack-icons">
                    <a href="#">
                        <i class='bx bxl-python'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-django'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-postgresql'></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn">Github</a>
                    <a href="#" class="btn">Site</a>
                </div>
            </div>
            <div class="project-card">
                <img src="{% static '/img/projetos/project3.png' %}" alt="">
                <h3>Project 03</h3>
                <p>
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Metus diam ridiculus ut, primis massa euismod parturient
                    suscipit.
                    Class scelerisque placerat per dolor magna facilisi dui cursus ultrices. Natoque sodales odio condimentum;
                    torquent
                    tincidunt curae varius penatibus gravida? Praesent nibh orci sollicitudin ultricies laoreet.
                </p>
                <div class="stack-icons">
                    <a href="#">
                        <i class='bx bxl-python'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-django'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-postgresql'></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn">Github</a>
                    <a href="#" class="btn">Site</a>
                </div>
            </div>
            <div class="project-card">
                <img src="{% static '/img/projetos/project4.png' %}" alt="">
                <h3>Project 04</h3>
                <p>
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Metus diam ridiculus ut, primis massa euismod parturient
                    suscipit.
                    Class scelerisque placerat per dolor magna facilisi dui cursus ultrices. Natoque sodales odio condimentum;
                    torquent
                    tincidunt curae varius penatibus gravida? Praesent nibh orci sollicitudin ultricies laoreet.
                </p>
                <div class="stack-icons">
                    <a href="#">
                        <i class='bx bxl-python'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-django'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-postgresql'></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn">Github</a>
                    <a href="#" class="btn">Site</a>
                </div>
            </div>
            <div class="project-card">
                <img src="{% static '/img/projetos/project5.png' %}" alt="">
                <h3>Project 05</h3>
                <p>
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Metus diam ridiculus ut, primis massa euismod parturient
                    suscipit.
                    Class scelerisque placerat per dolor magna facilisi dui cursus ultrices. Natoque sodales odio condimentum;
                    torquent
                    tincidunt curae varius penatibus gravida? Praesent nibh orci sollicitudin ultricies laoreet.
                </p>
                <div class="stack-icons">
                    <a href="#">
                        <i class='bx bxl-python'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-django'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-postgresql'></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn">Github</a>
                    <a href="#" class="btn">Site</a>
                </div>
            </div>
            <div class="project-card">
                <img src="{% static '/img/projetos/project6.png' %}" alt="">
                <h3>Project 06</h3>
                <p>
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Metus diam ridiculus ut, primis massa euismod parturient
                    suscipit.
                    Class scelerisque placerat per dolor magna facilisi dui cursus ultrices. Natoque sodales odio condimentum;
                    torquent
                    tincidunt curae varius penatibus gravida? Praesent nibh orci sollicitudin ultricies laoreet.
                </p>
                <div class="stack-icons">
                    <a href="#">
                        <i class='bx bxl-python'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-django'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-postgresql'></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn">Github</a>
                    <a href="#" class="btn">Site</a>
                </div>
            </div>
        </div>
    </section>
    <selection class="contact hidden" id="contact">
        <h2 class="heading">Entre Em <span>Contato</span></h2>
        <form action="#">
            <div class="input-group">
                <div class="input-box">
                    <input type="text" placeholder="Nome Completo">
                    <input type="email" placeholder="Email">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Telefone">
                    <input type="text" placeholder="Assunto">
                </div>
            </div>
            <div class="input-group-2">
                <textarea name="" id="" placeholder="Escreva uma mensagem :D" 
                cols="30" rows="10"></textarea>
                <input type="submit" value="Enviar Mensagem" class="btn">
            </div>
        </form>
    </selection>
    <footer class="footer">
        <div class="social-icons">
            <a href="#">
                <i class='bx bxl-github'></i>
            </a>
            <a href="#">
                <i class='bx bxl-linkedin-square'></i>
            </a>
        </div>
        <p class="copyright">
            © 2024 Júlio Soares. Todos os direitos reservados.
        </p>
    </footer>
    <script src="{% static '/js/script.js' %}"></script>
</body>
</html>